header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #dee2e6;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form input {
  margin: 5%;
  padding: 4%;
  background-color: transparent;
  border: 1px solid #1B1B1E;
  border-radius: 5px;
}

header form .searchButton {
  background-color: transparent;
  cursor: pointer;
}

header form .searchButton:hover {
  background-color: #1B1B1E;
  color: #dee2e6;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #dee2e6;
}

footer button {
  background-color: transparent;
  font-size: 2.5em;
  cursor: pointer;
}

.booksGrid {
  width: 90%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.booksGrid li {
  width: 29%;
  margin: 2%;
}

.booksGrid li article {
  width: 100%;
  padding: 5%;
  background-color: #dee2e6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.booksGrid li article .bookLeft {
  width: 70%;
}

.booksGrid li article .bookLeft h2 {
  margin-bottom: 1%;
}

.booksGrid li article .bookLeft img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.booksGrid li article .bookLeft .categoriesList {
  width: 50%;
  margin-left: -2%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booksGrid li article .bookLeft .categoriesList li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3%;
  padding-top: 0%;
  padding-bottom: 0.5%;
  border: 1px solid #1B1B1E;
  border-radius: 10px;
}

.booksGrid li article .bookRight {
  width: 30%;
}
/*# sourceMappingURL=App.css.map */